.Transaction {
    margin-top: 100px;    
    margin-bottom: 300px;    
    
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;   
}

.ui.label {
    display: block;
    margin-top: 10px;
}